.imgProduct:hover{
transform: scale(1.05)!important;
transition: all 0.3s ease;
}
.cardContentHover:hover{
    cursor: pointer;
    color: #F2562F!important;
    transition: all 0.3s ease;
}
.cardHover{
    /* animation: letGo 1s ease; */
    overflow: hidden;
}
@keyframes letGo {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}
.boxMain:hover{
    box-shadow: 0 0 6px 2px #e5e3e3;
    transition: 0.5s ease;
}
.boxMain:hover .ButtonHoverAddAndBut{
    transform : translateY(30px);
    z-index : 2;
    opacity: 1;
    transition: 0.5s ease;
}