.sideBar{
    width : 250px ;
     padding : 10px;
     animation: leftTo 1s ease;
}
@keyframes leftTo{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
.SortBar{
    animation: TopTo 1s ease;
}
@keyframes TopTo{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}